.results {
    display: flex;
    flex: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.card-biofood {
 position: relative;
    flex-direction: column;
    min-width: 50;
    word-wrap: break-word;
    background-clip: border-box;

}
.card-biofood.mr-1.col-md-8 {
    position: relative;
       flex-direction: column;
       min-width: 50;
       word-wrap: break-word;
       background-clip: border-box;
        margin-top: 750px;
   }
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  form {
    max-width: 400px;
    margin: auto;
  }

  label, input, textarea {
    display: block;
    margin-bottom: 10px;
  }

  input, textarea {
    width: 100%;
    padding: 5px;
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  